# --- APP SETTINGS ---
ENV=development
PROJECT_NAME="Fraud AI Agent"
LOG_LEVEL=DEBUG

# --- DATA & MLFLOW ---
DATASET_PATH=data/raw/amlnet.csv
# URL MLflow server (local by default)
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_EXPERIMENT_NAME=fraud_detection_experiment

# --- LLM & AGENT (GROQ & LANGSMITH) ---
GROQ_API_KEY=your_key
# For AI agent tracing
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_key
LANGSMITH_PROJECT=fraudguardAI

DB_USER=fraudguard
DB_PASSWORD=fraudguard
DB_HOST=localhost
DB_PORT=your_port
DB_NAME=fraudguard_db

DATABASE_URL_LOCAL=your_url_local
DATABASE_URL_PROD=your_url_prod


# --- GCP (Deployment on Google Cloud run) ---
GCP_PROJECT_ID=project_id
GCP_REGION=your_region
ARTIFACT_REGISTRY_REPO=your_repo